__pycache__/
*.py[cod]

*.egg-info/
*.egg
*.DS_Store
dist/

tutorials/output/
docs/_build/
python/src/__pycache__/
python/src/causal_rl_bench/envs/__pycache__/
python/src/causal_rl_bench/baselines/model_free/trainers/__pycache__/
python/src/causal_rl_bench/envs/robot/__pycache__/
python/src/causal_rl_bench/tasks/__pycache__/
python/src/causal_rl_bench/envs/scene/__pycache__/