__pycache__/
*.py[cod]

*.egg-info/
*.egg
*.DS_Store
dist/

tutorials/output/*
docs/_build/
python/src/__pycache__/
python/src/causal_world/envs/__pycache__/
python/src/causal_world/baselines/model_free/trainers/__pycache__/
python/src/causal_world/envs/robot/__pycache__/
python/src/causal_world/tasks/__pycache__/
python/src/causal_world/envs/scene/__pycache__/
